[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-few-public-methods,
    no-self-use,
    invalid-name,
    too-many-arguments,
    too-many-branches,
    duplicate-code

[TYPECHECK]
ignored-classes=
    lxml.builder.ElementMaker
extension-pkg-whitelist=
    lxml
ignored-modules=
    apache_beam,
    distutils
