[MASTER]
extension-pkg-whitelist=
    lxml


[TYPECHECK]
ignored-classes=ElementMaker


[MESSAGES CONTROL]
disable=
    missing-docstring,
    no-self-use,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    duplicate-code,
    invalid-name
