sudo: required
language: generic

services:
  - docker

before_install:
  - docker-compose -f docker-compose.yml -f docker-compose.ci.yml build

script:
  - docker-compose -f docker-compose.yml -f docker-compose.ci.yml run --rm sciencebeam ./project_tests.sh

