services:
  sciencebeam-parser:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    image: ${IMAGE_NAME}:${IMAGE_TAG}

  sciencebeam-parser-cv:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime-cv
    image: ${IMAGE_NAME}:${IMAGE_TAG}-cv

  sciencebeam-parser-dev:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    image: ${IMAGE_NAME}-dev:${IMAGE_TAG}

  wait-for-it:
    image: willwill/wait-for-it
