name: CI Build

on:
  push:
    branches:
      - main
    tags:
      - 'v*'  # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Set tags
        id: set_tags
        run: |
          DOCKER_IMAGE=ghcr.io/elifesciences/sciencebeam-parser
          VERSION=""
          GIT_BRANCH=${GITHUB_BASE_REF:-${GITHUB_REF#refs/heads/}}
          SHORT_SHA=${GITHUB_SHA::8}
          TIMESTAMP=`date --utc +%Y%m%d.%H%M`
          if [[ $GITHUB_REF == refs/tags/v* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
          fi
          if [[ $VERSION =~ ^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$ ]]; then
            TAGS="${DOCKER_IMAGE}:${VERSION},${DOCKER_IMAGE}:latest"
            CV_TAGS="${DOCKER_IMAGE}:${VERSION}-cv,${DOCKER_IMAGE}:latest-cv"
            DEV_TAGS="${DOCKER_IMAGE}-dev:${VERSION}"
          else
            TAGS="${DOCKER_IMAGE}_unstable:${GITHUB_SHA},${DOCKER_IMAGE}_unstable:${GIT_BRANCH}-${SHORT_SHA}-${TIMESTAMP},${DOCKER_IMAGE}_unstable:latest"
            CV_TAGS="${DOCKER_IMAGE}_unstable:${GITHUB_SHA}-cv,${DOCKER_IMAGE}_unstable:${GIT_BRANCH}-${SHORT_SHA}-${TIMESTAMP}-cv,${DOCKER_IMAGE}_unstable:latest-cv"
            DEV_TAGS="${DOCKER_IMAGE}-dev:${GITHUB_SHA}"
          fi
          echo "TAGS=${TAGS}"
          echo "tags=${TAGS}" >> $GITHUB_OUTPUT
          echo "CV_TAGS=${CV_TAGS}"
          echo "cv_tags=${CV_TAGS}" >> $GITHUB_OUTPUT
          echo "DEV_TAGS=${DEV_TAGS}"
          echo "cv_tags=${DEV_TAGS}" >> $GITHUB_OUTPUT
          echo "VERSION: ${VERSION}"
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Bake build for all targets (no push)
        uses: docker/bake-action@v6
        with:
          files: docker-bake.hcl
          targets: dev,runtime,runtime-cv
          set: |
            runtime.tags=${{ steps.set_tags.outputs.tags }}
            runtime-cv.tags=${{ steps.set_tags.outputs.cv_tags }}
            dev.tags=${{ steps.set_tags.outputs.dev_tags }}
          push: false
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Linting
        run: make IMAGE_TAG=${{ github.sha }} ci-lint
      - name: Unit Test
        run: make IMAGE_TAG=${{ github.sha }} ci-pytest
      - name: End-to-end Test
        run: make IMAGE_TAG=${{ github.sha }} ci-end-to-end
      - name: Push package to test.pypi.org
        if: ${{ env.VERSION == '' }}
        run: make IMAGE_TAG=${{ github.sha }} REVISION=${{ github.sha }} ci-push-testpypi
        env:
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_CREDENTIALS }}
      - name: Push package to pypi.org
        if: ${{ env.VERSION != '' }}
        run: make IMAGE_TAG=${{ github.sha }} VERSION=${{ env.VERSION }} NO_BUILD=y ci-push-pypi
        env:
          TWINE_PASSWORD: ${{ secrets.PYPI_CREDENTIALS }}

  docker-build-and-push:
    needs: [build-and-test]
    runs-on: ubuntu-latest
    steps:
      - name: Set tags
        id: set_tags
        run: |
          DOCKER_IMAGE=ghcr.io/elifesciences/sciencebeam-parser
          VERSION=""
          GIT_BRANCH=${GITHUB_BASE_REF:-${GITHUB_REF#refs/heads/}}
          SHORT_SHA=${GITHUB_SHA::8}
          TIMESTAMP=`date --utc +%Y%m%d.%H%M`
          if [[ $GITHUB_REF == refs/tags/v* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
          fi
          if [[ $VERSION =~ ^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$ ]]; then
            TAGS="${DOCKER_IMAGE}:${VERSION},${DOCKER_IMAGE}:latest"
            CV_TAGS="${DOCKER_IMAGE}:${VERSION}-cv,${DOCKER_IMAGE}:latest-cv"
          else
            TAGS="${DOCKER_IMAGE}_unstable:${GITHUB_SHA},${DOCKER_IMAGE}_unstable:${GIT_BRANCH}-${SHORT_SHA}-${TIMESTAMP},${DOCKER_IMAGE}_unstable:latest"
            CV_TAGS="${DOCKER_IMAGE}_unstable:${GITHUB_SHA}-cv,${DOCKER_IMAGE}_unstable:${GIT_BRANCH}-${SHORT_SHA}-${TIMESTAMP}-cv,${DOCKER_IMAGE}_unstable:latest-cv"
          fi
          echo "TAGS=${TAGS}"
          echo "tags=${TAGS}" >> $GITHUB_OUTPUT
          echo "CV_TAGS=${CV_TAGS}"
          echo "cv_tags=${CV_TAGS}" >> $GITHUB_OUTPUT
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push (if not PR)
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.set_tags.outputs.tags }}
          target: runtime
      - name: Build and push CV (if not PR)
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.set_tags.outputs.cv_tags }}
          target: runtime-cv
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
