name: CI Build

on:
  push:
    branches:
      - main
    tags:
      - 'v*'  # Push events to matching v*, i.e. v1.0, v20.15.10
  pull_request:
    branches:
      - main

env:
  DOCKER_IMAGE_NAME: ghcr.io/elifesciences/sciencebeam-parser

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Set tags
        id: set_tags
        run: |
          DOCKER_IMAGE="${{ env.DOCKER_IMAGE_NAME }}"
          VERSION=""
          GIT_BRANCH=${GITHUB_BASE_REF:-${GITHUB_REF#refs/heads/}}
          SHORT_SHA=${GITHUB_SHA::8}
          TIMESTAMP=`date --utc +%Y%m%d.%H%M`
          if [[ $GITHUB_REF == refs/tags/v* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
          fi
          if [[ $VERSION =~ ^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$ ]]; then
            IMAGE_NAME="${DOCKER_IMAGE}"
            IMAGE_TAG="${VERSION}"
            TAGS="${DOCKER_IMAGE}:${VERSION},${DOCKER_IMAGE}:latest"
            RUNTIME_TAGS_JSON="[\"${IMAGE_NAME}:${VERSION}\",\"${IMAGE_NAME}:latest\"]"
            CV_TAGS="${DOCKER_IMAGE}:${VERSION}-cv,${DOCKER_IMAGE}:latest-cv"
          else
            IMAGE_NAME="${DOCKER_IMAGE}_unstable"
            IMAGE_TAG="${GITHUB_SHA}"
            TAGS="${DOCKER_IMAGE}_unstable:${GITHUB_SHA},${DOCKER_IMAGE}_unstable:${GIT_BRANCH}-${SHORT_SHA}-${TIMESTAMP},${DOCKER_IMAGE}_unstable:latest"
            RUNTIME_TAGS_JSON="[\"${IMAGE_NAME}:${GITHUB_SHA}\",\"${IMAGE_NAME}:${GIT_BRANCH}-${SHORT_SHA}-${TIMESTAMP}\",\"${IMAGE_NAME}:latest\"]"
            CV_TAGS="${DOCKER_IMAGE}_unstable:${GITHUB_SHA}-cv,${DOCKER_IMAGE}_unstable:${GIT_BRANCH}-${SHORT_SHA}-${TIMESTAMP}-cv,${DOCKER_IMAGE}_unstable:latest-cv"
          fi
          DEV_TAG="${IMAGE_NAME}-dev:${GITHUB_SHA}"
          echo "IMAGE_NAME=${IMAGE_NAME}"
          echo "image_name=${IMAGE_NAME}" >> $GITHUB_OUTPUT
          echo "IMAGE_TAG=${IMAGE_TAG}"
          echo "image_tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT
          echo "RUNTIME_TAGS_JSON=${RUNTIME_TAGS_JSON}"
          echo "runtime_tags_json=${RUNTIME_TAGS_JSON}" >> $GITHUB_OUTPUT
          echo "TAGS=${TAGS}"
          echo "tags=${TAGS}" >> $GITHUB_OUTPUT
          echo "CV_TAGS=${CV_TAGS}"
          echo "cv_tags=${CV_TAGS}" >> $GITHUB_OUTPUT
          echo "DEV_TAG=${DEV_TAG}"
          echo "dev_tag=${DEV_TAG}" >> $GITHUB_OUTPUT
          echo "VERSION: ${VERSION}"
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Bake build for all targets (no push)
        uses: docker/bake-action@v6
        with:
          files: docker-compose.yml
          targets: sciencebeam-parser-dev,sciencebeam-parser
          set: |
            sciencebeam-parser.tags=${{ steps.set_tags.outputs.runtime_tags_json }}
            sciencebeam-parser-dev.tags=${{ steps.set_tags.outputs.dev_tag }}
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max
          push: false
          load: true

      - name: Linting
        run: make IMAGE_NAME=${{ steps.set_tags.outputs.image_name }} IMAGE_TAG=${{ github.sha }} IMAGE_TAG=${{ github.sha }} ci-lint
      - name: Unit Test
        run: make IMAGE_NAME=${{ steps.set_tags.outputs.image_name }} IMAGE_TAG=${{ github.sha }} ci-pytest
      - name: End-to-end Test
        run: make IMAGE_NAME=${{ steps.set_tags.outputs.image_name }} IMAGE_TAG=${{ github.sha }} ci-end-to-end
      - name: Push package to test.pypi.org
        if: ${{ steps.set_tags.outputs.VERSION == '' }}
        run: make IMAGE_NAME=${{ steps.set_tags.outputs.image_name }} IMAGE_TAG=${{ github.sha }} REVISION=${{ github.sha }} ci-push-testpypi
        env:
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_CREDENTIALS }}
      - name: Push package to pypi.org
        if: ${{ steps.set_tags.outputs.VERSION != '' }}
        run: make IMAGE_NAME=${{ steps.set_tags.outputs.image_name }} IMAGE_TAG=${{ github.sha }} VERSION=${{ steps.set_tags.outputs.VERSION }} NO_BUILD=y ci-push-pypi
        env:
          TWINE_PASSWORD: ${{ secrets.PYPI_CREDENTIALS }}

  docker-build-and-push:
    needs: [build-and-test]
    runs-on: ubuntu-latest
    steps:
      - name: Set tags
        id: set_tags
        run: |
          DOCKER_IMAGE=ghcr.io/elifesciences/sciencebeam-parser
          VERSION=""
          GIT_BRANCH=${GITHUB_BASE_REF:-${GITHUB_REF#refs/heads/}}
          SHORT_SHA=${GITHUB_SHA::8}
          TIMESTAMP=`date --utc +%Y%m%d.%H%M`
          if [[ $GITHUB_REF == refs/tags/v* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
          fi
          if [[ $VERSION =~ ^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$ ]]; then
            TAGS="${DOCKER_IMAGE}:${VERSION},${DOCKER_IMAGE}:latest"
            CV_TAGS="${DOCKER_IMAGE}:${VERSION}-cv,${DOCKER_IMAGE}:latest-cv"
          else
            TAGS="${DOCKER_IMAGE}_unstable:${GITHUB_SHA},${DOCKER_IMAGE}_unstable:${GIT_BRANCH}-${SHORT_SHA}-${TIMESTAMP},${DOCKER_IMAGE}_unstable:latest"
            CV_TAGS="${DOCKER_IMAGE}_unstable:${GITHUB_SHA}-cv,${DOCKER_IMAGE}_unstable:${GIT_BRANCH}-${SHORT_SHA}-${TIMESTAMP}-cv,${DOCKER_IMAGE}_unstable:latest-cv"
          fi
          echo "TAGS=${TAGS}"
          echo "tags=${TAGS}" >> $GITHUB_OUTPUT
          echo "CV_TAGS=${CV_TAGS}"
          echo "cv_tags=${CV_TAGS}" >> $GITHUB_OUTPUT
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push (if not PR)
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.set_tags.outputs.tags }}
          target: runtime
      - name: Build and push CV (if not PR)
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.set_tags.outputs.cv_tags }}
          target: runtime-cv
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
